{% extends "base.html" %}

{% block title %}Tennis Scoreboard | Matches{% endblock %}

{% block content %}
<main>
    <section class="content">
        <div class="star_new_match_header">
            <div class="enlarging_text">
                <div class="word">
                    <div class="letter">M</div>
                    <div class="letter">A</div>
                    <div class="letter">T</div>
                    <div class="letter">C</div>
                    <div class="letter">H</div>
                    <div class="letter">E</div>
                    <div class="letter">S</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <form class="new_match_form" action="/matches" method="GET">
            <div class="search_form">
                <input type="text" name="filter_by_player_name"
                       placeholder="Filter by player name"
                       class="first_player">
                <button type="submit" class="score-btn">Search</button>

            </div>
        </form>
    </section>
    <section class="score_table">
        <table class="table">
            <thead>
            <tr>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Sets</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
            <tr>
                <td>
                    {{ match[0] }}
                    {% if match[2] == match[0] %} 🏆 {% endif %}
                </td>
                <td>
                    {{ match[1] }}
                    {% if match[2] == match[1] %} 🏆 {% endif %}
                </td>
                <td>{{ match[3][0]}}, {{ match[3][1] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="content">
    <div class="pagination">
        {% if current_page > 1 %}
            <a class="page-link prev" href="?page={{ current_page - 1 }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">‹</a>
        {% endif %}

        <a class="page-link {% if current_page == 1 %}current{% endif %}"
           href="?page=1{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">1</a>

        {% if current_page > 3 %}
            <span class="dots">...</span>
        {% endif %}

        {% if current_page > 1 and current_page < total_pages %}
            <a class="page-link current" href="?page={{ current_page }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">
                {{ current_page }}
            </a>
        {% endif %}

        {% if current_page < total_pages - 2 %}
            <span class="dots">...</span>
        {% endif %}

        {% if total_pages > 1 %}
            <a class="page-link {% if current_page == total_pages %}current{% endif %}"
               href="?page={{ total_pages }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">{{ total_pages }}</a>
        {% endif %}

        {% if current_page < total_pages %}
            <a class="page-link next" href="?page={{ current_page + 1 }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">›</a>
        {% endif %}
    </div>
</section>
</main>

{% endblock %}