{% extends "base.html" %}

{% block title %}Tennis Scoreboard | New Match{% endblock %}

{% block content %}
<main>
    <section class="content">
        <div class="star_new_match_header">
            <div class="enlarging_text">
                <div class="word">
                    <div class="letter">S</div>
                    <div class="letter">T</div>
                    <div class="letter">A</div>
                    <div class="letter">R</div>
                    <div class="letter">T</div>
                </div>
                <div class="word">
                    <div class="letter">N</div>
                    <div class="letter">E</div>
                    <div class="letter">W</div>
                </div>
                <div class="word">
                    <div class="letter">M</div>
                    <div class="letter">A</div>
                    <div class="letter">T</div>
                    <div class="letter">C</div>
                    <div class="letter">H</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="image_court">
            <img src="../static/images/court.png" alt="Court">
        </div>
    </section>
    <section class="content">
        <form class="new_match_form" action="/new-match" method="POST">
            <div class="create_match_form">
                <div class="players_name">
                    <input type="text" name="first_player" id="first_player"
                           placeholder="Player's Name"
                           class="first_player" required maxlength="25"
                           pattern="^\s*[A-Za-zА-Яа-я]+(\s+[A-Za-zА-Яа-я]+)?\s*$"
                           title="The name can contain only letters. No more than two words.">
                    <label for="first_player">First Player Name</label>
                </div>
                <div class="players_name">
                    <input type="text" name="second_player" id="second_player" placeholder="Player's Name"
                           class="second_player" required maxlength="25"
                           pattern="^\s*[A-Za-zА-Яа-я]+(\s+[A-Za-zА-Яа-я]+)?\s*$"
                           title="The name can contain only letters. No more than two words.">
                    <label for="second_player">Second Player Name</label>
                </div>
                <div class="requirements">
                    Enter a correct name consisting of letters A-Z or А-Я.
                </div>
                <input type="submit" value="Create Match" class="create_match">
            </div>
        </form>
    </section>
</main>

{% endblock %}