{% extends "base.html" %}

{% block title %}Home | Tennis Scoreboard{% endblock %}

{% block content %}
<main>
    <section class="content">
        <div class="enlarging_text">
            <div class="letter">W</div>
            <div class="letter">E</div>
            <div class="letter">L</div>
            <div class="letter">C</div>
            <div class="letter">O</div>
            <div class="letter">M</div>
            <div class="letter">E</div>
        </div>
        <div class="description">
            <p>to Tennis Scoreboard</p>
        </div>
    </section>
    <section class="content">
        <div class="creat_match">
            <div class="image_player">
                <img src="../static/images/player_first.png" alt="Tennis Player">
            </div>
            <div class="creat_match_button">
                <a href="/new-match">
                    <button class="creat_match_button" type="button">Create a new match</button>
                </a>
            </div>
            <div class="image_player">
                <img src="../static/images/player_second.png" alt="Tennis Player">
            </div>
        </div>
    </section>
</main>
{% endblock %}
